# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Mac
.DS_Store

# IDEA
.idea

# Glide
vendor

#bench gen
*/*.profile
*/*.out
*/intarray.txt
*/*.svg
coverage.txt
tmp
bin
*/tmp
deployments/bin
vendor
check.log
*.pid

*/myvariables.sh

# 编译目录
dist